.listings-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.car-in-listings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
  color: black;
}

.car-name {
  margin-bottom: 15px;
}


.btn-in-listing {
  margin-bottom: 8px;
  background-color: #a43795;
  color: white;
}


/* ////////////////////// */

.cars-container {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
}


.each-car-in-cars {
  margin-left: 20px;
  margin-right: 20px;
}
