.cars-container {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
}


/* .each-car-in-cars {
  margin-left: 20px;
  margin-right: 20px;
} */

.each-car-div {
  display: inline-block;
  height: 15%;
  width: 25%;
}

.cars-div {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;



}
