input {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.input-in-create-listing {
  width: 500px !important;
}

section {
  margin: 40px;
}

.btn-in-form {
  margin-top: 20px;
}

.create-listing {
  margin-right: 20px;
  background-color: #a43795;
  color: white;
}

.description {
  height: 100px;
  width: 500px;
}
section.section-create-listing-form span {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-bottom: 3px;
  width: 400px;
}

.errors-in-create-listing {
  height: 145px;
}
