/* TODO Add site wide styles */

/* body {
  margin-left: 40px;
  margin-right: 40px;
} */

h2 {
  display: block;
  text-align: center;
  color: black;
  margin-top: 50px;
}

.login-btn-nav {
  background-color: #f0e6ee;
  color: black !important;
}
