
nav {
  /* position: sticky; */
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 40px;
  flex-direction: row;
  background-color: rgb(248, 241, 248);
  border: medium solid #a43795;
  /* margin-top: 0; */
  /* margin-bottom: 15px; */
  /* align-content: center; */
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }
/*
.no-bullet li::marker {
  list-style-type: none;
} */

 .nav-element {
   display: inline-flex;
   justify-content: space-around;
   /* flex: 0 0 100%; */
   /* flex-direction: column; */
   color: black;
 }

.welcome-msg {
  position: absolute;
  right: 30px;
  font-style: italic;
}

.signup-nav {
  position: absolute;
  right: 30px;
}

.login-nav {
  position: absolute;
  right: 100px;
}

 .nav-home {
  margin-right: 15px;
  list-style-type: none;
 }

 .nav-listings {
   margin-left: 15px;
   margin-right: 15px;
 }

 /* .nav-reviews {
   margin-right: 800px;
 } */

 .create-form-btn {
   margin-left: 15px;
   text-decoration: underline;
 }

 .navlink {
   color: black;
 }

 /* .nav-space {
   display: inline-flex;
   margin-left:auto;
 } */
 /* .active {
   font-weight: bold;
 } */


/* nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  background-color:rgb(3, 24, 17);
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */
