
nav {
  /* position: sticky; */
  /* top: 0; */
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  /* margin-right: 40px; */
  flex-direction: row;
  background-color: #a43795;
  border: medium solid #a43795;
  color: white;
  font-family: 'Brown Pro', sans-serif;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  margin-left: 5%;
  margin-right: 5%;
 }

 .links-in-nav {
   list-style: none;
 }

 .nav-element {
   display: inline-flex;
   justify-content: space-around;
   color: white;
 }

.welcome-msg {
  position: absolute;
  right: 12%;
  font-style: italic;
}

.prof-icon {
  position: absolute;
  right: 8%;
}

.signup-nav {
  position: absolute;
  right: 7%;
}

.login-nav {
  position: absolute;
  right: 13%;
}

 .logo-in-nav {
  position: absolute;
  top: 15px;
 }

 .nav-listings {
   margin-left: 15px;
   margin-right: 15px;
 }

 .create-form-btn {
   margin-left: 75px;
   text-decoration: none;
   font-weight: 500;
 }

 .create-form-btn:hover {
   text-decoration: underline;
 }

 .navlink {
   color: white;
   text-decoration: none;
   font-weight: 500;
 }

 .navlink:hover {
  text-decoration: underline;
 }
